<nav>
    <img class="logo" src="{{ asset('images/logo-docker.png' )}}" alt=" logo du site ">

    <ul class="nav-links" >

        <li class="links" ><a href="{{ path('app_home' )}}">Home Page</a></li>
        <li class="links" ><a href="#">To-Do List</a></li>
        <li class="links" ><a href="">Add To-Do</a></li>
         
    </ul>

    <div>

        <a class="links" href="{{ path('app_login' )}}">Login</a>
        <a class="links" href="{{ path('app_register' )}}">Register</a>

    </div>

</nav>